*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
.header {
  max-width: 1024px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
